#witcher{
    background-image: url(img/witcher-bg.jpg);
}

#zelda{
    background-image: url(img/zelda.jpg);
}

#nier{
    background-image: url(img/nier.jpg);
}

#reddead{
    background-image: url(img/reddead.jpg);
}

#skyrim{
    background-image: url(img/skyrim.jpg);
}

#img-car{
    width: 5px;
    height: 5px;
}