#witcher{
    background-image: url(img/witcher-bg.jpg);
}

#zelda{
    background-image: url(img/zelda.jpg);
}

#nier{
    background-image: url(img/nier.jpg);
}

#reddead{
    background-image: url(img/reddead.jpg);
}

#skyrim{
    background-image: url(img/skyrim.jpg);
}

#body{
    background-image: url(img/wall.png);
    background-size: cover;
    color: white;
}

.img{
    width: 350px;
    height: 350px;
    padding-bottom: 20px;
}